
/*body*/

body{
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    max-width: 1200px;
    margin: auto;
}

.container_body_wrapper {
    display: flex;
}

h1 {
    font-size: 300%;
    font-weight: lighter;
    margin: 2% 0 2% 0;
    color: #212121;
}

h1 > span {
    font-weight: bold;
    color: #B2BABB;
}

h2 {
    font-size: 150%;
    margin-bottom: 1%;
    color: #212121;
}

h2 > span {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color:  #B2BABB;
}

h3 {
    margin-top: 3%;
    margin-bottom: 2%;
    color: #212121;
}

h4 {
    text-align: center;
    font-size: 23px;
    margin: 0;
    padding: 2% 0 2% 0;
    color: #F4F6F7;
    background-color: #424242;
}

p {
    font-size: 80%;
    color: #212121;
}

.texte_contact,
.texte_presentation {
    text-align: justify;
    padding: 5% 10% 10% 10%;
}


/*Header*/

.container_header {
    display: flex;
}

#container_photo {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 30%;
    margin: 0;
    background-color: #B2DFDB;
}

.photo_marion {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #B2BABB;
    margin: 13% 10% 13% 10%;
}

#container_titre {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0 3% 0 5%;
    background-color: #F4F6F7;
}

.titre_cv {
    width: 100%;
}


/*Aside + article*/

.container_aside_article {
    display: flex;
}

/*Aside*/

.container_aside {
    width: 30%;
    background-color: #B2DFDB;
}


/*Article*/

.container_article {
    width: 60%;
    padding: 0 3% 0 5%;
    background-color: #F4F6F7;
}

.sections_article {
    display: flex;
    padding-top: 2%;
}

.ligne {
    border-top: 1px solid #B2BABB;
    margin-bottom: 5%;
}

.fas.fa-graduation-cap,
.fas.fa-briefcase,
.fas.fa-pen {
    color: #424242;
    padding-right: 5%;
}

.far.fa-dot-circle {
    font-size: 15px;
}

.puce {
    font-size: 10px;
    color: #424242;
    width: 6%;
    padding-top: 2%;
}

.annee_lieu {
    width: 32%;
}

.organisme_contenu {
    width: 500px;
}

ul {
    margin-top: 0;
    padding-left: 5%;
}

li {
    list-style-type: circle;
    color: #212121;
}

.reduction_marges {
    margin-bottom: 0;
    margin-top: 0;
}

/*Footer*/

.container_footer {
    display: flex;
}

#container_footer_loisirs {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 2%;
    background-color: #B2DFDB;
}

.container_icones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10% 5% 10% 5%;
}

.cercle_icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 60%;
    border: 2px solid #424242;
    color: #424242;
}

#container_footer_recommandations {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 3% 0 5%;
    background-color: #F4F6F7;
}

.marge_interieure {
    padding-top: 10%;
}

.marge_haute_0 {
    margin-top: 0;
}

.container_recommandations {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.recommandation_1 {
    width: 45%;
}

.recommandation_2 {
    width: 40%;
    padding-left: 5%;
}

.marge_basse_gras {
    font-weight: bold;
    margin-bottom: 1px;
}
