// This file contains all styles related to the BUTTON component

.button {
    @extend .text-align-center;
    .button__heading {
        background-color: $color-primary;
        color: $text-color-primary;
        border-radius: 0.5em;
        border: none;
    }        
    button:focus {
        outline: 0;
    }
}


