// This file contains all styles related to the HEADER of the site

header, footer {
    @extend .text-align-center;
    background-color: $color-primary;
    a:link, a:visited {
        color: $text-color-primary;
    }
}

header {
    display: grid;
    height: 70px;
    h1 {
        margin: auto;
        font-size: 2em;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    a {
        @include xx-small-only {
            margin: auto;
        }
        @include small-only {
            align-content: flex-start;
        }
    }
    @include medium-only {
        width: 50%;
    }
    @include x-large-only {
        width: 720px;
    }
}