// This file contains all styles related to the HEADER of the site

header, footer {
    @extend .text-align-center;
    background-color: $color-primary;
    a {
        text-decoration: none;
    }
    a:link, a:visited {
        color: $text-color-primary;
    }
}

header {
    height: 9%;
    h1 {
        margin: 0;
        padding: 25px;
    }
}

footer {
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    a {
        margin: auto;
    }
}