// This file contains styles that are specific to the MENUS (Home page and one pages)

// Menus preview
.menu-prev {
    cursor: pointer;
}

// All (menus preview and big ones)
.menu__title {
    @extend .text-align-center;
}

.menu-prev, .menu {
    @extend .box-shadow;
    h2, h3, h4 {
        @extend .text-align-center;
    }
}

// Menu 1 "La note enchantée" (menu preview and big one)
.menu-prev--1, .menu-1 {
    background-color: $color-menu1;
    h2, h3, h4, p {
        color: $color-title-text-menu1;
    }
}

// Menu 2 "Le chic à la française (menu preview and big one)
.menu-prev--2, .menu-2 {
    background-color: $color-menu2;
    .part__1, h3 {
        color: $color-title-menu2-part1;
    }
    .part__2 {
        color: $color-menu2-part2;
    }
    .part__3 {
        color: $color-menu2-part3;
    }
}

// Menu 3 "Le délice des papilles" (menu preview and big one)
.menu-prev--3, .menu-3 {
    color: $color-title-menu3;
    background-color: $color-menu3;
}

// Menu 4 "La palette du goût" (menu preview and big one)
.menu-prev--4, .menu-4 {
    color: $color-title-menu4;
    background-color: $color-menu4;
}
